// Margin

.margin-xs {
  margin: .25rem;
}

.margin-sm {
  margin: .5rem;
}

.margin-md {
  margin: 1rem;
}

.margin-lg {
  margin: 1.5rem;
}

.margin-xl {
  margin: 2rem;
}

// Padding

.padding-xs {
  padding: .25rem;
}

.padding-sm {
  padding: .5rem;
}

.padding-md {
  padding: 1rem;
}

.padding-lg {
  padding: 1.5rem;
}

.padding-xl {
  padding: 2rem;
}

// Display
.display-none {
  display: none;
}